@use './utils' as *;
@use './components' as *;

body {
  font-family: var(--ff-primary);
  text-align: center;
  background-color: var(--bg-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.logo {
  display: inline-block;
  margin-bottom: 3.375rem;
}

.wrapper {
  padding-inline: 1.5rem;
  margin: 0 auto;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &--buttons {
    gap: 1rem;
  }
}



