@use './utils' as *;
@use './components' as *;

body {
  font-family: var(--ff-primary);
  text-align: center;
  padding: 1rem;
  background-color: var(--bg-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
