@use '../utils' as *;

.attribution {
    position: absolute;
    bottom: 0.25rem;
  @include text(var(--fs-300), var(--text-primary-100), 500, 1);
  &__link {
    color: var(--text-accent-600);
    transition: 0.3s ease-in-out;
    font-weight: 900;
    &:hover,
    &:focus {
      color: var(--text-accent-600-light);
    }
  }
}