@use '../utils' as *;

.button {
  border: none;
  padding-block: 1rem;
  border-radius: 29px;
  transition: 0.3s ease-in-out;
  z-index: 2;
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
  }

  &--500 {
    padding-inline: 2.5rem;
    background-color: var(--button-primary-500);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--button-primary-500-light);
    }
  }

  &--550 {
    padding-inline: 2.5rem;
    background-color: var(--button-primary-600);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--button-primary-600-light);
    }
  }

  &--600 {
    padding-inline: 1.875rem;
    background-color: var(--button-primary-600);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--button-primary-600-light);
    }
  }
}
