@use '../utils' as *;

.footer {
  background-color: var(--bg-accent);
  position: relative;
  padding-top: 5.75rem;
  padding-bottom: 4.5rem;
  &__header {
    margin-bottom: 1.5rem;
  }
  &__text {
    margin-bottom: 2rem;
  }
  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    height: 100%;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
  }
}
